body {
    font-family: Arial, sans-serif;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #28a745;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
